.img {
  float: left;
  align-items: left;
  height: 35px;
  width: 162px;
  
}

.main {
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  background-color: #1b1b1b;
  box-shadow: rgb(49, 37, 37);
  align-items: center;
  justify-content: center;
  text-align: center;
  mix-blend-mode: darken;
}
.inp {
  height: 30px;
  width: 250px;
  border-color: 1px #f5deb3;
  border-radius: 80px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: medium;
}
.inp:hover {
  background-color: #cfdcf1;
  border-color: #1d6ceb;
  transition: 0.5s;
}

.btn {
  margin-right: 150px;
  height: 34px;
  width: 70px;
  background-color: azure;
  color: #2874f0;
  outline: 2px white;
  border: #2874f0;
  border-radius: 20px;
  font-style: italic;
  box-shadow: 50px rgb(216, 16, 16);
  cursor: pointer;
  border: 20px;
  transition: 0.5s;
}
.btn:hover {
  height: 36px;
  width: 75px;
  background-color: rgb(183, 218, 218);
  color: #1d6ceb;
  outline: 2px white;
  border: #2874f0;
  border-radius: 20px;
  font-style: italic;
  box-shadow: 10px rgb(24, 23, 23);
  cursor: pointer;
}





/* =====================MEDIA QUERY(MEDIUM DEVICE[TABLETS])================================= */

@media screen and (max-width: 1024px) {
  .container {
   
    width: var(--container-width-md);
  }
  section {
    margin-top: 6rem;
  }
}

/* =====================MEDIA QUERY(SMALL DEVICE[MOBILE])================================= */

@media screen and (max-width: 600px) {
 
  .main {
    
    padding: 0.5rem;
   text-align:left;
    mix-blend-mode: darken;
  }
 
 
 
 
  .img {
    display: inline-block;
    margin-right: 100%;
    align-items: left;
    height: 35px;
    width: 162px;
  }

  



.inp {
  display: inline;
  margin: 1rem;
  height: 30px;
  width: 230px;

  border-radius: 80px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: medium;
}


.btn {
  margin: 0;
display: inline;
}



  
}
