.imgMain {
  height: 100%;
  width: 100%;
}

/* =====================MEDIA QUERY(MEDIUM DEVICE[TABLETS])================================= */

@media screen and (max-width: 1024px) {
  .imgMain {
    height: 100%;
    width: 100%;
  }
}

/* =====================MEDIA QUERY(SMALL DEVICE[MOBILE])================================= */

@media screen and (max-width: 600px) {
   

  .imgMain {
    height: 100%;
    width: 100%;
  }
}
