.imgVwe{
    height: 100vh;
    width: 100%;
}


/* =====================MEDIA QUERY(MEDIUM DEVICE[TABLETS])================================= */

@media screen and (max-width: 1024px) {

}

/* =====================MEDIA QUERY(SMALL DEVICE[MOBILE])================================= */

@media screen and (max-width: 600px) {
    .imgVwe{
        width: 100%;
        height: 100%;
        margin-bottom: 100%;
    }
    
}