.main {
  background-color: #282c34;;
  padding: 20px;
  margin: 2px;
}

.div {
  height: auto;
  width: 100%;

  font-size: small;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;

  background-color:#282c34;;
  color: aliceblue;
}



  
/* =====================MEDIA QUERY(MEDIUM DEVICE[TABLETS])================================= */

@media screen and (max-width: 1024px) {

}

/* =====================MEDIA QUERY(SMALL DEVICE[MOBILE])================================= */

@media screen and (max-width: 600px) {
 

  
}
